@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
body {
    margin: 0;
    padding: 0;
}
#debugbar {
    font-family: 'Maven Pro', sans-serif;
}
#debugbar-logo {
    position: absolute;
    top: 8px;
    left: 8px;
}
#debugbar-header nav > a, #debugbar-header > div > span {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    margin-right: -6px;
    border-left: 1px solid #3c424b;
    border-right: 1px solid #3c424b;
}
#debugbar a:hover, .debugbartab-active {
    background-color: #A0D486;
    position: relative;
    z-index: 10000000000000000;
    border-color: #A0D486 !important;
}
#debugbar {
    box-shadow: 0 -1px 10px #3c424b;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f7fa;
    z-index: 100000000000;
}
#debugbar-content {
    color: black;
    display: none;
    padding: 10px 15px;
    font-size: 14px;
    height: 450px;
    border-top: 1px solid #A0D486;
}
#debugbar-header {
    background-color: #434a54;
    position: relative;
    border-bottom: 2px solid #A0D486;
    padding-left: 36px;
}
#debugbar-header-close {
    float: right;
    color: #e9573f;
    padding: 8px 10px 8px 15px;
    font-weight: normal;
    cursor: pointer;
    display: none;
}
#debugbar .tab {
    display: none;
}
